<h3>Ceps validos</h3>
<table  class="table">
  <thead >
    <tr>
      <th scope="col">CEP</th>
      <th scope="col">Rua</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
      <th scope="col">Id</th>
    </tr>
  </thead>
  <tbody *ngFor="let dados of allCeps">
    <tr>
      <td>{{dados.cep ? dados.cep : '---'}}</td>
      <td>{{dados.logradouro ? dados.logradouro : '---'}}</td>
      <td>{{dados.bairro ? dados.bairro : '---'}}</td>
      <td>{{dados.localidade ? dados.localidade : '---'}}</td>
      <td>{{dados.uf ? dados.uf : '---'}}</td>
      <td>{{dados.id ? dados.id : '---'}}</td>
    </tr>
  </tbody>
</table>
