<div>
<h1>Digite o CEP para verificação</h1>
</div>
<div class="form-floating mb-3">
  <input #searchBox type="number" min="8" max="8" class="form-control cep-mask" id="floatingInput" (blur)="validaCep(searchBox.value)" placeholder="Ex.: 00000-000">
  <label for="floatingInput">CEP</label>
</div>
<div >
  <form #frm="ngForm">
    <fieldset disabled>
      <legend>Dados do cep</legend>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">CEP</label>
        <input type="text" name="cep" id="cep" class="form-control" placeholder="">
      </div>
    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Bairro</label>
        <input type="text" id="bairro"  name="bairro"  class="form-control" placeholder="">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput"  name="cidade"  class="form-label">Cidade</label>
        <input type="text" id="cidade" class="form-control" placeholder="">
      </div>
    </fieldset>
  </form>
  <button  type="button" class="btn btn-success">Guardar</button>
</div>
